<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employee Onboarding</title>
  </head>
  <body>
    
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You have joined the A TEAM</p>
            
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                </li>
                
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Employee</h3>
                    <Form class="row register-form" [formGroup]="employeeForm">
                       
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" formControlName="firstName" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *"  formControlName="lastName" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *"  formControlName="password" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" formControlName="confirmPassword"/>
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" formControlName="gender" value="male" checked>
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" formControlName="gender" value="female">
                                        <span>Female </span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control"  formControlName="email" placeholder="Your Email *" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" formControlName="nationalId" class="form-control" placeholder="Your National ID *" value="" />
                            </div>
                           
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Income"  formControlName="income" value="" />
                            </div>
                            <input (click)="registerEmployee()" type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </Form>
                </div>
              
            </div>
        </div>
    </div>

</div>

  </body>
</html>